* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.intro {
   background-image:
      linear-gradient(rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.4)),
      url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages4.fanpop.com%2Fimage%2Fphotos%2F19200000%2FGreen-Network-Wallpaper-green-19219086-1920-1200.jpg&f=1&nofb=1&ipt=49446425fd14a885485bdc940b542773e8b43c595e3ed36d881c5b47aeafc696&ipo=images");
   color: #ffffff;
   text-align: left;
}

.intro-row {
   padding-left: 50px;
   padding-right: 50px;
}

.intro img {
   border-radius: 50%;
   margin-top: 30px;
   margin-bottom: 30px;
   width: fit-content;
}

.intro .about-me {
   margin-top: 70px;
   margin-bottom: 70px;
} 

.blog-post-collection {
   margin-bottom: 100px;
}

.blog-header h2 {
   margin-top: 40px;
}

.blog-posts-container {
   margin-top: 20px;
}

.blog-post {
   margin-top: 10px;
}

.blog-post .card-text {
   margin-top: 10px; 
}